{{ ansible_managed | comment }}

--- a/init.d/devfs.in	2019-08-20 23:23:37.000000000 +0200
+++ b/init.d/devfs.in	2020-12-27 13:59:29.503097191 +0100
@@ -15,7 +15,7 @@ depend()
 {
 	provide dev-mount
 	before dev
-	keyword -docker -lxc -prefix -systemd-nspawn -vserver
+	keyword -docker -prefix -systemd-nspawn -vserver
 }
 
 mount_dev()
